<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Meta Tags -->
    <title><%= settings.question %></title>

    <!-- CSS -->
    <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />

    <link href="/css/font-awesome.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />

    <!-- JavaScript -->
    <script src="//code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/default.js"></script>
    <script src="/js/ajax.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
